.input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--color31);
  margin: 0;
  padding: 4px 8px;
  font-size: 16px;
  font-family: inherit;

  &:hover {
    border-color: var(--color32);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--color47);
    border-color: var(--color15);
    outline: none;
  }
}
